.fileList-container {
    .fileList {
        button {
            // z-index: -1;
            background: transparent;
            border: none;
            box-shadow: none;
            margin: 0 3px 0 3px;

            &:focus {
                box-shadow: none;
            }

        }
        .fileList-item {
            padding: 12px 10px 12px 10px;
            &:hover {
                cursor: pointer;
                background: rgb(215, 214, 214);
            }
            &:focus {
                background: rgb(215, 214, 214);
            }
        }
        .ant-list-item-meta-title {
            font-size: 16px;
        }

        .ant-list-item-meta-description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            white-space: pre-line;

        }
    }

}