.tabList-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .empty-tab-background {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // padding-left: 10px;
    .ant-tabs {
        &+div {
            flex-grow: 1;
            height: 100%;
            overflow: hidden;

            .EasyMDEContainer {
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .editor-toolbar {
                    border-top: none;
                    border-radius: 0;
                    // border-left: none;
                    border-right: none;
                    border-color: rgb(240, 240, 240);
                }

                .CodeMirror {
                    border-color: rgb(240, 240, 240);
                    font-size: 16px;
                    flex-grow: 1;
                }
            }
        }

        .ant-tabs-content-holder {
            display: none;
        }

        .ant-tabs-nav {
            margin-bottom: 2px;

        }

        .ant-tabs-tab {
            // border-bottom-color: skyblue !important;
            min-width: 120px;
            display: flex;
            justify-content: space-between;
            padding: 8px 8px 8px 16px !important;
        }

        .ant-tabs-tab-active {
            border-bottom-color: black !important;
        }

        .ant-tabs-nav-more {
            display: none;
        }

        // .ant-tabs-content {
        //     height: 100%;
        // }
    }
}

