.left-container {
    border: black 1px solid;

    .ant-card {
        height: 95%;

        .ant-card-head {
            height: 8%;
            padding: 0;
            .ant-card-head-wrapper {
                height: 100%;
            }
        }
        .ant-card-body {
            height: 92%;
            overflow: auto;
            padding: 10px 24px 10px 24px;
        }
    }
    .left-footer {
        height: 5%;
        button {
            width: 50%;
            height: 100%;
        }
    }


}